.form-file-to-folder{
   width : 300px;
   padding : 20px 0px;
   margin : auto;
   margin-top : 50vh;
   box-shadow: 0px 0px 20px rgba(55, 59, 149, 0.411458);
   text-align: center;
}

.form_input{
    padding-left : 50px;
}

.folder_add{
    background: rgba(42, 147, 192, 1);
    padding :5px;
    letter-spacing: 1px;
    margin-top : 10px;
    color : white;
    width : 200px;
}

.folder_add:hover{
    color :rgba(42, 147, 192, 1);
    background-color: white;
}


.back-icon-file-to-folder{
    margin: 30px 0px 0px 30px;
}


.svg_ftf{
    width: 100%;
    position: absolute;
    opacity: 0.7;
    top : -120px;
    z-index : -1;
}