.form-wrapper-folder{
    padding : 20px;
    box-shadow: 0px 0px 30px rgba(55, 59, 149, 0.411458);
    width : fit-content;
    margin: auto;
    margin-top : 25vh;
}
.name, .hospital{
    float : right;
    margin-left : 40px;
    outline: none;
    font-weight: 600;
    outline: none !important;
    border: none;
    border-bottom: 2px solid black;
    color: black;
    background-color: #d7eeea;
}

.name_label, .hospital_label{
    font-size:18px;
    letter-spacing: 1px;
}

.save__folder{
    background: rgb(109 211 201);
    padding :5px;
    letter-spacing: 1px;
    margin-top : 10px;
    width : 200px;
    margin-left: 120px;
    font-weight: 600;
    border-radius: 10px;
    border: lightblue;
}


.back-icon{
    margin : 30px 0px 0px 30px;
}

.wrapper_form__{
    position: absolute;
    background-image: url('./back.jpg');
    background-size: cover;
    height: 100%;
    width: 100vw;
    z-index: -1;
}
