.file-icon{
    color: hsl(228, 96%, 71%);
    margin-left: 33%;
    margin-top: 30px;
    z-index: 10;
}

.file-desc{
    margin-top: 5px;
    text-align: center;
    letter-spacing: 2px;
    font-family: 'Source Sans Pro', sans-serif;
}

.delete-btn{
    color: red;
}
