.file-icon{
    color: hsl(228, 96%, 71%);
}


.img-folder{
    width: 50%;
    height: 50%;
    margin-left: 22vw;
    margin-top : 50px;
    border-radius : 15%;
    box-shadow: 0px 0px 20px rgb(55, 59, 149, 0.411458);
}

.delete_{
    position: absolute;
    right: 20px;
    top: -20px;
    color: black;
    box-shadow: 0px 0px 70px rgb(55, 59, 149, 0.411458);
    border-radius : 15%;
}

.info{
    position: absolute;
    right: 10px;
    top: 15px;
    width : 30px;
    height: 30px;;
    border-radius : 15%;
}

.file-desc__{
    font-size: 20px;
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
}

.files{
    display: flex;
}