.file-icon{
    color: hsl(228, 96%, 71%);
}


.img-folder{
    width: 50%;
    height: 50%;
    margin-left: 22vw;
    margin-top : 50px;
    border-radius : 15%;
    box-shadow: 0px 0px 20px rgb(55, 59, 149, 0.411458);
}

.delete_{
    margin-top: -20px;
    width : 40px;
    height: 40px;;
    border-radius : 15%;
    box-shadow: 0px 0px 20px rgb(55, 59, 149, 0.411458);
}

.file-desc__{
    font-size: 25px;
    text-align: center;
    color : #009fff;
}